@import "compass/reset";
@import "banner";

$color-missing : #777;
$color-action: #0645AD;
$color-line: #55D;
$color-error: #911;

body {
  font-family: sans-serif;
  background-color: #E7E7E7;
}

a, .action.actionable {
  color: $color-action;
  cursor: pointer;
  text-decoration: none;
}

a:hover, .action.actionable:hover {
  text-decoration: underline;
}

a.home {
  color: #000;
}
a.home:hover {
  text-decoration: none;
}

.clearboth {
  clear: both;
}

.errorPage {
	padding: 2em;
	font-size: 200%;
}

@mixin bottom-line($thickness) {
	padding-bottom: $thickness;
	border-bottom: $thickness solid $color-line;
}

@mixin content-box {
	font-size: 0.875em;
  padding: 1em;
  width: 50em;
  background-color: white;
  box-shadow: 0.2em 0.2em 0.8em 0.3em #999;
}