.form {
	.formError {
		color: $color-error;
		font-weight: bolder;
	}
	
	h1 {
		@include header;
	}
	
	.property {
		font-weight: bolder;
		margin-top: 2em;
		margin-bottom: 0.2em;
		
		a {
			font-weight: normal;
		}
	}
	
	.formInput {
		font-family: monospace;
		margin: 0.1em 0;
		width: 20em;
	}
	
	.formInput.Title {
		width: 40em;
	}
	
	.error {
		color: $color-error;
		font-weight: bolder;
	}
	
	.hint {
		color: $color-missing;
	}
	
	.submit {
		margin: 2em 0 1em 0;
	}
	
	select {
		margin: 0.1em 0;
	}
	
	textarea {
		font-family: monospace;
		width: 50em;
		height: 4em;
		margin: 0.1em 0;
	}
	
	textarea.Text {
		height: 25em;
	}
	
	textarea.short {
		height: 2.5em;
	}
}

.form.compact {
	width: 30em;
}