
.panel {
  margin-top: 5em;
  margin-left: 1.5em;
  display: inline-block;
  vertical-align: top;
  width: 11em;
  font-size: 0.9em;
  color: #444;
}

.panel .panelHeader {
  font-weight: bolder;
  margin-bottom: 0.5em;
}

.panel .panelOptionList {
  margin-bottom: 1em;
}

.panel .dijitCheckBox, .panel label {
  display: inline-block;
  vertical-align: middle;
}

.panel .panelOption.zeroCount {
  color: $color-missing;
}