@import "colors";

.panel {
  margin-top: 5em;
  margin-left: 1.5em;
  display: inline-block;
  vertical-align: top;
  width: 13em;
  font-size: 0.75em;
  color: #444;
	line-height: 1.7em;
	
	.panel-div {
		border-top: 1px solid $color-line-gray;
		margin: 1em 0 2em 0;
		padding-top: 0.5em;
	}
	
	.panel-header {
		color: $color-missing;
		text-indent: -0.5em;
	}
	
	.panel-action {
		display: block;
	}
}