@import "base";
@import "panel";
@import "content";
@import "actions";
@import "language_select";

.extractContent {
  margin: 1em;
	
	#body {
		line-height: 1.5em;
	}
	
	p {
		margin: 0.5em 0;
	}
	
	.a-side, .b-side {
		display: inline-block;
		width: 23em;
	}
	
	.a-side {
		margin-right: 1em;
	}
	
	h1 {
		font-size: 1.5em;
		vertical-align: top;
		font-weight: bolder;
		margin: 1em 0 0.5em 0;
	}
	
	h1 .a-side, h1 .b-side {
		width: 15em;
	}
}
