@import "base";
@import "content";
@import "actions";
@import "language_select";

.extractContent {
  margin: 1em;
	
	#body {
		line-height: 1.5em;
	}
	
	.block {
		margin: 0.75em 0;
	}
	
	.a-side, .b-side {
		display: inline-block;
		width: 23em;
		vertical-align: top;
	}
	
	.a-side {
		margin-right: 1em;
	}
	
	h1 {
		@include header;
	}
	
	h1 .a-side, h1 .b-side {
		width: 15em;
	}
	
	h1 .a-side {
		margin-right: 0.75em;
	}
}
