@import "base";
@import "panel";

.message {
	@include content-box;
	margin: 1em auto;
	width: 30em;
	
	h1 {
		font-size: 120%;
		margin: 1em 0;
		@include bottom-line(0.1em);
	}
	
	p {
		margin: 1em 0;
	}
	
	.email {
		font-weight: bolder;
	}
}